# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

venv
.cache
*.egg-info
.coverage*
.DS_Store
/.tox
/build
/coverage-html
/dist
/docs/_site
/venv
README.rst
jarvis/GITSHA
